* {
    margin: 0;
    padding: 0;
    border: none;
}

nav {
    height: 50px;
    padding: 25px 0 0 0;
}

nav li {
    list-style: none;
    display: inline;
    margin-left: 20%;
}

nav a {
    text-decoration: none;
}

div {
    border: 1px solid red;
}