/*Imported fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/*Some recurring css rules*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

h1, h2, h3, .font-family {
    font-family: 'Poiret One',Arial;
}

.text-center {
    text-align: center;
}

.header-color, nav a, .consistency {
    background-color: #9c2150;
    color: #d3b3b3
}

/*Header and navigation bar*/
header {
    height: 200px;
}
header h1 {
    padding-top: 50px;
    font-size: 60px;
}

nav {
    height: 50px;
    padding-top: 40px;
}

nav li {
    list-style: none;
    display: inline;
}

nav a {
    text-decoration: none;
    margin: 0 30px;
    font-size: 25px;
}

a:hover {
    color: #000;
}

/*Image below header*/
#sunrise {
    width: 100%;
    height: 150px;
}

.container {
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #380c1d;
}

/*Rules defining parallax scrolling, for layer-base and layer-back*/
.parallax {
    background-image: url(../images/spring-background-4035402_960_720.webp);
    background-repeat: no-repeat;
    background-size: cover;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer--base {
    transform: translateZ(0);
  }
  .parallax__layer--back {
    transform: translateZ(-1px);
  }

  /*Header followed by instruction steps and images 1-5, defined by odd and even*/
  #main-header {
      text-align: center;
      font-size: 60px;
      margin: 25px 0;
      text-decoration: underline;
      color: #380c1d;
  }

  .instruction {
      height: 450px;
      margin: 200px 10%;
      display: block;
  }

  .odd-instruction {
      width: 49%;
      height: 100px;
      float: left;
      margin-top: 150px;
      color: #380c1d;
      font-size: 40px;
  }

  .even-instruction {
    width: 49%;
    height: 100px;
    float: right;
    margin-top: 150px;
    color: #380c1d;
    font-size: 40px;
    font-family: 'Poiret One',Arial;
}

  .odd-image {
      float: right;
      height: 100%;
      width: 49%;
  }

  .even-image {
    float: left;
    height: 100%;
    width: 49%;
}

  .number-right-margin {
      margin-right: 10px;
  }

  /*Consistency section at colored circle background*/
  .consistency {
      margin-left: 33%;
      margin-right: 33%;
      width: 750px;
      height: 750px;
      border-radius: 50%;
      border: 2px solid #9c2150;
  }

  .consistency h2 {
      margin-top: 33%;
      font-size: 50px;
      text-decoration: underline;
  }

  .consistency p {
      margin-left: 30%;
      margin-right: 30%;
      font-size: 24px;
  }

  /*Video section, rules for left and right video plus descriptions*/
  .video-intro {
      left: 37%;
      margin-top: 150px;
      margin-left: 37%;
      margin-bottom: 75px;
      text-decoration: underline;
      font-size: 36px;
      color: #9c2150;
      width: 30%;
  }

  #video-container {
      height: 600px;
  }

  .left-video {
      float: left;
      margin-left: 10%;
      width: 650px;
      height: 500px;
  }

  .right-video {
      float: right;
      margin-right: 10%;
      width: 650px;
      height: 500px;
  }

  .left-video-description {
      float: left;
      margin-left: 14%;
      margin-top: 30px;
      font-size: 24px;
      color: #9c2150;
  }

  .right-video-description {
    float: right;
    margin-right: 12%;
    margin-top: 30px;
    font-size: 24px;
    color: #9c2150;
}

/*Form section*/
#form-container {
    background-image: url(../images/buddha-1177009_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 800px;
}

form {
    height: 600px;
    margin-left: 37%;
}

form h3 {
    text-decoration: underline;
    font-size: 50px;
    margin-left: 250px;
}

form p {
    width: 45%;
    font-size: 30px;
    margin-left: 185px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    margin-top: 10px;
    margin-left: 220px;
    height: 35px;
}

#email-input {
    margin-left: 100px;
}

#container-message {
    margin-top: 20px;
    width: 20%;
    margin-left: 220px;
}

/*Footer section*/

footer {
    height: 100px;
    background-color: #d3b3b3;
}

footer ul {
    display: inline-flex;
    margin-left: 45%;
    list-style-type: none;
}

footer li {
    margin: 35px 15px 0px 15px;
    font-size: 24px;
}

/*Media queries*/

@media screen and (max-width: 1650px) {
    #video-container {
        width: 49%;
        height: 1100px;
        margin: 0 auto;
    }

    .consistency {
        margin: 0 auto;
    }

    .consistency h2, .consistency p {
        font-size: 2.5rem;
        margin-top: 40px;
    }

    .left-video-description, .right-video-description {
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    #video-container {
        height: 1100px;
        width: 100%;
    }

    .left-video, .right-video {
        margin-right: 10%;
        float: right;
        height: 500px;
    }
    .consistency h2, .consistency p {
        font-size: 2.5rem;
        margin-top: 75px;
    }

    form {
        height: 600px;
        margin-left: 40%;
    }
    
    form h3 {
        font-size: 42px;
        margin-left: 150px;
    }
    
    form p {
        width: 60%;
        font-size: 26px;
        margin-left: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    input {
        margin-top: 20px;
        margin-left: 150px;
        height: 30px;
    }
    
    #email-input {
        margin-left: 150px;
    }

    #container-message {
        margin-top: 20px;
        width: 140px;
        margin-left: 150px;
    }
}

@media screen and (max-width: 800px) {
    #video-container {
        height: 1100px;
        width: 100%;
    }

    .left-video, .right-video {
        float: right;
        height: 500px;
    }

    .consistency {
        width: 400px;
        height: 400px;
        margin: 0 auto;
    }

    .consistency h2, .consistency p {
        font-size: 1.1rem;
        margin-top: 35px;
    }

    form {
        height: 600px;
        margin-left: 15%;
    }
    
    form h3 {
        font-size: 40px;
        margin-left: 60px;
    }
    
    form p {
        width: 60%;
        font-size: 26px;
        margin-left: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    input {
        margin-top: 20px;
        margin-left: 50px;
        height: 20px;
    }
    
    #email-input {
        margin-left: 50px;
    }

    #container-message {
        margin-top: 20px;
        width: 140px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 550px) {
    header h1 {
        font-size: 26px;
    }

    nav a {
        margin: 0 10px;
        font-size: 20px;
    }
    
    .centered {
        font-size: 20px;
    } 

    .odd-instruction {
        font-size: 30px;
    }
  
    .even-instruction {
      font-size: 30px;
  }

    .left-video, .right-video {
        height: 500px;
        width: 50%;
        margin: 0 auto;
    }

    .consistency h2, .consistency p {
        font-size: 1rem;
        margin-top: 50px;
    }

    form {
        height: 600px;
        margin-left: 5%;
    }
    
    form h3 {
        font-size: 36px;
        margin-left: 50px;
    }
    
    form p {
        width: 45%;
        font-size: 20px;
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    input {
        margin-top: 20px;
        margin-left: 40px;
        height: 12px;
    }
    
    #email-input {
        margin-left: 40px;
    }

    #container-message {
        margin-top: 20px;
        width: 140px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 400px) {
    header h1 {
        font-size: 18px;
    }

    nav a {
        font-size: 14px;
    }

    .centered {
        font-size: 1rem;
    }
    
    .consistency {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .consistency h2, .consistency p {
        font-size: .5rem;
        margin-top: 25px;
        text-decoration: none;
    }

    .odd-instruction {
        font-size: 24px;
    }
  
    .even-instruction {
      font-size: 24px;
  }

  #form-container {
    background-size: cover;
    background-position: center;
    height: 800px;
}

form {
    height: 600px;
    margin-left: 10%;
}

form h3 {
    font-size: 18px;
    margin-left: 70px;
}

form p {
    width: 45%;
    font-size: 14px;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    margin-top: 20px;
    margin-left: 60px;
    height: 12px;
}

#email-input {
    margin-left: 60px;
}

#container-message {
    margin-top: 20px;
    width: 150px;
    margin-left: 60px;
}

  footer {
      position: absolute;
      width: 400px;
      right: 1rem;
  }
}

@media screen and (max-width: 250px) {
    form {
        height: 600px;
        margin-left: 5%;
    }
    
    form h3 {
        font-size: 18px;
        margin-left: 50px;
    }
    
    form p {
        width: 45%;
        font-size: 14px;
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    input {
        margin-top: 20px;
        margin-left: 40px;
        height: 12px;
    }
    
    #email-input {
        margin-left: 40px;
    }

    #container-message {
        margin-top: 20px;
        width: 140px;
        margin-left: 40px;
    }
}