@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-family: 'Poiret One',Arial;
}

.text-center {
    text-align: center;
}

header {
    height: 200px;
}
header h1 {
    padding-top: 50px;
    font-size: 60px;
}

.header-color, nav a {
    background-color: #9c2150;
    color: #d3b3b3
}

nav {
    height: 50px;
    padding-top: 40px;
}

nav li {
    list-style: none;
    display: inline;
}

nav a {
    text-decoration: none;
    margin: 0 30px;
    font-size: 25px;
}

a:hover {
    color: #000;
}

/*section {
    border: 1px solid red;
    width: 100%;
    height: 2000px;
}

/*#spring-image {
    background-image: url(../images/spring-background-4035402_960_720.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.section-color {
    color: #380c1d
}

.div-position {
    position: absolute;
}*/

.parallax {
    background-image: url(../images/spring-background-4035402_960_720.webp);
    background-repeat: no-repeat;
    background-size: cover;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer--base {
    transform: translateZ(0);
  }
  .parallax__layer--back {
    transform: translateZ(-1px);
  }

  .div-one {
      margin-left: 500px;
      margin-top: 150px;
      display: flex;
  }

  .div-one h2 {
      margin-top: 50px;
  }

  #sitting-woman {
      margin-left: 90px;
      width: 40%;
  }

 .div-two {
     margin-left: 950px;
     margin-top: 150px;
     width: 30%;
  }

  .div-three {
      margin-left: 37%;
      margin-top: 150px;
      width: 30%;
  }

  video {
      width: 500;
  }

  .video-div {
      margin: 50 0;
  }

  .meditation-video {
      margin-left: 33%;
      margin-top: 20px;
  }

  .video-text {
      margin-left: 38%;
      margin-top: 45px;
  }

  .section-color {
    color: #380c1d
}
